{% load static %}
    {% block content %}

    <!-- Start Header Area -->
    {% include '__header.html' %} 
    <!-- Header Area Ends -->

        <!-- ***** About Area Starts ***** -->
        <div class="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left-image">
                            <img src="{% static 'images/about-left-image.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-content">
                            <h4>About Us &amp; Our Products</h4>
                            <span>We are boutique, an Ecommerce store that markets and supplies product to our customers in different location with the best shopping experience. Our products are always unique and are being sold at a cheaper rate.  Place your order and get the best shopping experience you've been craving, from Boutique accessories store.</span>
                            <div class="quote">
                                <i class="fa fa-quote-left"></i><p>Dress the way you want to be adressed, your appearance speaks more at your first sight.</p>
                            </div>
                            <p>If you need more clearification on any product displayed in this web page or need to report any issue, you can reach out to us through the contact page.</p>
                            <ul>
                                <li><a href="https://github.com/Nworah-Gabriel/"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://twitter.com/nworahgabriel/"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/nworah-gabriel-chimzuruoke-b74121224"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** About Area Ends ***** -->
    
        <!-- ***** Our Team Area Starts ***** -->
        <section class="our-team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>Our Amazing Team</h2>
                            <span>Details to details is what makes Hexashop different from the other themes.</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-item">
                            <div class="thumb">
                                <div class="hover-effect" style="height: 300px; width: 300px;">
                                    <div class="inner-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <img src="{% static 'images/team-member-01.jpg' %}" style="height: 300px; width: 300px;">
                            </div>
                            <div class="down-content" style="height: 300px; width: 300px;">
                                <h4>Ragnar Lodbrok</h4>
                                <span>Product Caretaker</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-item">
                            <div class="thumb">
                                <div class="hover-effect" style="height: 300px; width: 300px;">
                                    <div class="inner-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <img src="{% static 'images/team-member-02.jpg' %}" style="height: 300px; width: 300px;">
                            </div>
                            <div class="down-content" style="height: 300px; width: 300px;">
                                <h4>Ragnar Lodbrok</h4>
                                <span>Product Caretaker</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-item">
                            <div class="thumb">
                                <div class="hover-effect" style="height: 300px; width: 300px;">
                                    <div class="inner-content">
                                        <ul>
                                            <li><a href="https://github.com/Nworah-Gabriel/"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://twitter.com/nworahgabriel/"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/nworah-gabriel-chimzuruoke-b74121224"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <img src="{% static 'images/FB_IMG_16118429677157922.png' %}" style="height: 300px; width: 300px;">
                            </div>
                            <div class="down-content" style="height: 300px; width: 290px;">
                                <h4>Nworah Chimzuruoke Gabriel</h4>
                                <span>Software Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Our Team Area Ends ***** -->
    
        <!-- ***** Services Area Starts ***** -->
        <section class="our-services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>Our Services</h2>
                            <span>Details to details is what makes Hexashop different from the other themes.</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-item">
                            <h4>Clothings</h4>
                            <p>We offer you the best quality clothings with unique outfits at a cheaper rate and with the best shopping experience.</p>
                            <img src="{% static 'images/service-01.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-item">
                            <h4>Jewelries</h4>
                            <p>We market jeweries with the best designs and quality at a very attractive rate with the best shopping experience.</p>
                            <img src="{% static 'images/service-02.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-item">
                            <h4>Footwears</h4>
                            <p>Boutique is capable of offering you the best footware with quality and unique designs at a very cheap and attractive rate. </p>
                            <img src="{% static 'images/service-03.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Services Area Ends ***** -->

    <!-- footer section start -->
    {% include '__footer.html' %}
    <!-- footer section end -->
 </div>
{% endblock %}